.section__navbar {
  width: 100vw;
  height: 10vh;
  background-color: rgb(199, 212, 184);
}

.section__navbar a {
  color: #fff;
  text-decoration: none;
}

.container__navbar {
  padding: 0 25px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box__logo,
.box__add {
  font-size: 1.5rem;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  .box__logo,
  .box__add {
    font-size: 1.2rem;
  }
}
